# Default owner for everything in the repo

* @shaneholloman

# Documentation and Markdown files

*.md @shaneholloman
/docs/ @shaneholloman
/notes/ @shaneholloman

# GitHub specific files

/.github/ @shaneholloman
